h2 {
    color: tomato;
    background-color: "aqumarine";
    border: 2%;
    border-radius: 0%;
  }
  <style>
  .box {
    background-color: #ffcccc;
    height: 150px;
    width: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff6666;
  }
</style>
